
body {
  background:#F5F5F5;
}

#feed-body{
    padding-top:30px;
    background-color:#F5F5F5
}

.common-body{
    box-sizing: content-box;
}

.fd-container{
    margin-left:50px;
    margin-right:50px;
   /* margin-left: auto;
    margin-right: auto;*/
}

.left-body{
    background-color:white;
    width:60%;
    height:450px;
    float:left;
   /* position:absolute;*/
}

.right-body{
    width:33%;
    height:450px;
    float:left;
    background-color: white;
    margin-left: 80px;
    /*position:absolute;*/
}

.footer{
  background-color: #f1f1f1;
  padding: 10px;
  padding-top:15px;
  text-align: center;
  height: 75px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  font-size:12px;
}

